@charset "UTF-8";

.ui-library {
    background-color: #000;

    &.bg2 {
        background-color: $background;
    }
}

// scrollbar custom
.ui-library::-webkit-scrollbar {
    width: 10px; 
}
.ui-library::-webkit-scrollbar-thumb {
    height: 30%;
    background: #fff;
    border-radius: 6px;
}
.ui-library::-webkit-scrollbar-track {
    background: #000;
}