@charset "UTF-8";

.ui-list {
    &__main {
        padding: 0 20px 60px;
    }//ui-list__main

    &__box {
        & + & {
            margin-top: 50px;
        }
    }//ui-list__box

    &__title {
        font-size: 28px;
        line-height: 2;
    }//ui-list__title

    &__list {
        display: grid;
        gap: 1.5rem 1rem;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }//ui-list__list

    &__item {
        position: relative;
        height: 150px;
        border-radius: 6px;
        background-color: #fff;
        transition: 0.3s ease-in-out all;
        overflow: hidden;

        // for문 적용!
        background-image: url('../img/img.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &:hover {
            transform: scale(1.03);
            box-shadow: 5px 6px 10px 4px rgb(255 255 255 / 10%);
        }
    }//ui-list__item

    &__link {    
        display: block;
        width: 100%;
        height: 100%;
    }//ui-list__link

    &__item-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        background: $color1;
        color: #fff;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }//ui-list__title
}