html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-style: inherit;
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  color: #fff;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  outline: none;
  border: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
}

input {
  padding: 0;
  margin: 0;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.ui-library {
  background-color: #000;
}
.ui-library.bg2 {
  background-color: #333;
}

.ui-library::-webkit-scrollbar {
  width: 10px;
}

.ui-library::-webkit-scrollbar-thumb {
  height: 30%;
  background: #fff;
  border-radius: 6px;
}

.ui-library::-webkit-scrollbar-track {
  background: #000;
}

.ui-list__main {
  padding: 0 20px 60px;
}
.ui-list__box + .ui-list__box {
  margin-top: 50px;
}
.ui-list__title {
  font-size: 28px;
  line-height: 2;
}
.ui-list__list {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.ui-list__item {
  position: relative;
  height: 200px;
  border-radius: 6px;
  background-color: #fff;
  transition: 0.3s ease-in-out all;
  overflow: hidden;
  background-image: url("../img/img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ui-list__item:hover {
  transform: scale(1.03);
  box-shadow: 5px 6px 10px 4px rgba(255, 255, 255, 0.1);
}
.ui-list__link {
  display: block;
  width: 100%;
  height: 100%;
}
.ui-list__item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  background: #f14666;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.header {
  width: 100%;
  text-align: center;
  padding: 80px 0;
}
.header__title, .header__subtitle {
  font-size: 40px;
  font-weight: 500;
  font-family: "Cardo", serif;
  line-height: 1.5;
}
.header__subtitle-mark {
  position: relative;
}
.header__subtitle-mark::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23px;
  background-color: #f14666;
  z-index: -1;
  content: "";
}
.header__desc {
  color: #777;
  font-size: 17px;
  line-height: 23px;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */